/* Heading */

.header {
    background-image: url("../images/pattern.jpeg");
    background-position: center;
    background-size: cover;
    height: 120px;
    margin-bottom: 10px;
    margin-top: 70px;
    margin-bottom: 50px;
    padding-left: 5px;
}

.header h1 {
    color: khaki;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-align: center;
    padding: 10px 0px;
    width: 100%;
}


/* Body h2-h3 elements */
.header,
.brush,
.frame,
.paint {
    font-weight:bold;
    padding-left: 5px;
}

.brush h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: white;
    background-color: mediumspringgreen;
}

.frame h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: white;
    background-color: lightcoral;
}

.paint h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: white;
    background-color: skyblue;
}

h3 {
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    padding-left: 5px;
}

/* Body */

p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    padding-left: 5px;
}

.bold {
    color: blue;
    font-size: 17px;
    font-weight: bold;
}


/* Images */

img {
    padding: 30px 0px 0px;
}
